body {
    background-image: -moz-linear-gradient(25deg,cyan, lightblue);
    width: 100%;
    height: 100%;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.centerHead {
    color: darkslategray;
    text-align: center;
    text-decoration: underline 5px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[type="button"] {
    height: 35px;
    width: 125px;
    background-color: white;
    border: none;
    border-radius: 6px;
    margin: auto 5px auto 5px;
}

[type="button"]:hover {
    border: 3px solid cyan; 
}

.etchContainer {
    display: absolute;
    width: 750px;
    height: 500px;
    background-color: firebrick;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 5px 5px darkslategray;
}

.playArea {
    display: absolute;
    width: 600px;
    height: 350px;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 10px;
    margin: 60px auto 0 auto;
}

.logo {
    display: block;
    width: auto;
    height: 65px;
    margin: 12.5px auto 12.5px auto;
}